# PostgreSQL
POSTGRES_DB=biblioteca
POSTGRES_USER=seu_user_name_do_postgre
POSTGRES_PASSWORD=sua_senha_do_postgre

# Spring
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/biblioteca
SPRING_DATASOURCE_USERNAME=seu_user_name_do_postgre
SPRING_DATASOURCE_PASSWORD=sua_senha_do_postgre

# OpenAI
OPENAI_API_KEY=sua_chave

# JWT
JWT_SECRET=uma_chave_bem_grande